body * {
    font-family: 'Spectral', serif;
}

.header-mobile {
    background-color: #192436;
    -webkit-font-smoothing: antialiased;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    padding-right: 10%;
    display: none;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.header-mobile .pure-menu-heading, .header-mobile .pure-menu-link {
    color: #b09e81;
    font-size: 18px;
}
.header-mobile .pure-menu-link:hover {
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #b09e81;
}

.header-mobile .header-brand {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: 2.5em;  
    background-position: top left;
    padding-left: 2.9em;
    font-size: 20px;
    font-family: 'Spectral SC', serif;
}

.header-mobile.open {
    height: 10em;
}

.header-menu {
    text-align: right;
}

.header-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1em;
    display: none;
}

.header-toggle .bar {
    background-color: #b09e81;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 28px;
    right: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.header-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.header-toggle .bar:last-child {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}

.header-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.content-mobile {
    display: none;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.content {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.content .split {
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.split:first-child {
    /* padding-left: 10%; */
    background-color: #192436;
}
.split:last-child {
    padding-right: 10%;
    background-color: #b09e81;
}

.menu {
    display: flex;
    padding-left: calc(10% - 5px);
    gap: 5%;
    width: 100%;
}

.menu .menu-item {
    color: #192436;
}

.menu .menu-link {
    text-decoration: none;
    color: #192436;
    padding: 5px 10px;
}

.menu .menu-link:hover {
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #192436;
}

#welcome-text {
    padding: 30% 10%;
    padding-bottom: 20%;
}

.content-mobile {
    background-color: #192436;
    color: #b09e81;
    min-height: 90vh;
}

.padding-10 {
    padding: 10%;
}

.home-logo {
    width: 100%;
    height: 60%;
    background-image: url("images/main-logo.png");
    background-repeat: no-repeat;
    /* background-size: 120%;   */
    background-position: center 13%;
    content: '';
}

.logo-divider {
    content: '';
    /* border: 1px solid #b09e81; */
    width: 80%;
    margin-left: 10%;
}

.logo-text {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-family: 'Spectral SC', serif;
    color: white;
    margin: 0;
    padding-top: 5%;
}

.logo-subtext {
    width: 100%;
    text-align: center;
    color: #b09e81;
    font-size: 1.5em;
    font-weight: 300;
}

.content-mobile .section-logo {
    background-color: #192436;
}

.content-mobile .home-logo {
    min-height: 50vh;
}

@media (max-width: 47.999em) {
    .header-toggle {
        display: block;
    }
    .container {
        padding-left: 7%;
        padding-right: 4%;
    }
    .header-mobile {
        height: 5vh;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    .content {
        display: none;
    }
    .content-mobile {
        display: block;
    }
    .header-mobile .header-menu.pure-menu-horizontal {
        display: none;
    }
    .header-mobile .pure-menu-heading, .header-mobile .pure-menu-link {
        font-size: 1em;
    }
    .header-mobile .header-brand {
        margin-left: 5%;
        font-size: 1.2em;
    }
}