.header-mobile {
    display: block;
}
.content-mobile {
    display: block;
}

.page-heading {
    display: inline-block;
    padding-bottom: 0.2em;
    border-bottom: 2px solid rgb(204, 204, 204);
    margin-top: 5%;
    margin-bottom: 5%;
}

.section {
    font-size: 18px;
    line-height: 1.4em;
}

.page {
    color: rgb(204, 204, 204);
    background-color: #192436;
    min-height: 100vh;
}

.service {
    padding: 1em;
    margin: 1em;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-bottom: 2em;
}

.service-header {
    width: fit-content;
    padding-bottom: 0.3em;
    border-bottom: 1px solid white;
}

.service-details > div {
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
}

.service-details > div:last-child {
    margin-bottom: 10%;
}

.service-details > div p {
    font-size: 18px;
}

.service-link {
    text-decoration: none;
    color: black;
}

.service-link h3 {
    font-family: 'Spectral SC', serif;
    font-weight: bolder;
    border-bottom: 2px solid black;
    width: fit-content;
}

.service {
    min-height: 20em;
}

#tele-service {
    background-image: url(images/tele.jpeg);
    background-repeat: no-repeat;
    background-position: 10% 10%;
    background-size: 200%;
}

#clinic-service {
    background-image: url(images/clinic.jpeg);
    background-repeat: no-repeat;
    background-position: 10% 10%;
    background-size: 220%;
}

#home-service {
    background-image: url(images/home.jpeg);
    background-repeat: no-repeat;
    background-position: 10% 10%;
    background-size: 200%;
}

#specialist-service {
    background-image: url(images/specialist.jpeg);
    background-repeat: no-repeat;
    background-position: 70% 5%;
    background-size: 200%;
}

.contact-heading {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0;
}

.contact-divider {
    border: 1px solid rgb(204, 204, 204);
    width: 30%;
}

.contact-details {
    font-size: 24px;
}

.map {
    padding-left: 3%;
    height: 100%;
}

.map iframe {
    width: 100%;
    height: 90%;
}

@media (max-width: 47.999em) {
    .header-mobile .header-menu.pure-menu-horizontal {
        display: none;
    }
    .map {
        padding-left: 0;
    }
}