.header-mobile {
    display: block;
}
.content-mobile {
    display: block;
}

.page-heading {
    display: inline-block;
    padding-bottom: 0.2em;
    border-bottom: 2px solid rgb(204, 204, 204);
    margin-top: 5%;
    margin-bottom: 5%;
}

.section {
    font-size: 18px;
    line-height: 1.4em;
}

.page {
    color: rgb(204, 204, 204);
    background-color: #192436;
    min-height: 100vh;
}

.service {
    padding: 1em;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-bottom: 2em;
}

.contact-heading {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0;
}

.contact-divider {
    border: 1px solid rgb(204, 204, 204);
    width: 30%;
}

.contact-details {
    font-size: 24px;
}

.map {
    padding-left: 3%;
}

@media (max-width: 47.999em) {
    .header-mobile .header-menu.pure-menu-horizontal {
        display: none;
    }
    .map {
        padding-left: 0;
    }
}